### A simple notebook outlining how to extract the required source IDs and types from the ALS II catalog.

In [12]:
import csv
import pandas as pd

In [13]:
data_dir = './data/ALS ii/als_ii_f.dat'

In [14]:
datContent = [i.strip().split() for i in open(data_dir).readlines()]
reqValues = [[i[0], i[1], i[2]] for i in datContent]

In [15]:
labels = './data/list_of_sources.csv'
with open(labels, 'w', newline='') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerows(reqValues)

In [16]:
df = pd.read_csv(labels)
df

      Cat  ID_ALS               ID_DR2
0       M       1  3400904642850801792
1       M       2  3398880716823578368
2       M       3  3398822751945120128
3       M       4  3350097928520768640
4       M       5  3398557735283620224
...    ..     ...                  ...
15657   I   20143  4146600472558819200
15658   I   20145  4146598818993604480
15659   I   20147  4146600399547025280
15660   M   20151  5940106793062992128
15661   M   20164  5940106002789009536

[15662 rows x 3 columns]

In [22]:
sources = 'Gaia DR2 ' + df['ID_DR2'].astype(str)
sources.to_csv('./data/sources_dr2.csv', index=False, header=False)
sources

0        Gaia DR2 3400904642850801792
1        Gaia DR2 3398880716823578368
2        Gaia DR2 3398822751945120128
3        Gaia DR2 3350097928520768640
4        Gaia DR2 3398557735283620224
                     ...
15657    Gaia DR2 4146600472558819200
15658    Gaia DR2 4146598818993604480
15659    Gaia DR2 4146600399547025280
15660    Gaia DR2 5940106793062992128
15661    Gaia DR2 5940106002789009536
Name: ID_DR2, Length: 15662, dtype: object